 <main class="contenedor">
    <form action="/iniciar-sesion" method="post" class="default-form">
        <div class="campo">
            <label>Correo</label>
            <input type="email" name="email" placeholder="Tu Correo" required>
        </div>
        <div class="campo">
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Tu Contraseña" required>
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crear una Cuenta</a>
            <a href="/reestablecer-password">Olvide mi Contraseña</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar Sesion" class="btn btn-azul">
        </div>
    </form>
 </main>